hr {
    height: 2px;
    background-color: black;
    border-color:brown;}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    font-family: Impact, serif;
    }
h2{
    text-align: center;
}
p{
    text-align: left
}

.descripcion{
    vertical-align: text-top;
}
.item h4{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
LI{
    padding-top: 15px;
}

